APP_NETWORK=techkraft-net

BACKEND_PORT=8000
FRONTEND_PORT=5173

ENV=dev

BACKEND_CONTAINER_NAME=techkraft
FRONTEND_CONTAINER_NAME=techkraft-frontend

POSTGRES_USER=techkraft
POSTGRES_PASSWORD=techkraft123
POSTGRES_DB=techkraft
POSTGRES_PORT=5432

DATABASE_URL=postgresql://techkraft:techkraft123@postgres:5432/techkraft